@import "libs/responsive.scss";
@import "libs/mixins.scss";

$black: #2e2947;
$white: #f3ebdf;
$pink: #DC28E3;
$blue: #5FF5E9;
$primary: #2D2F62;
$backgroundColor: #7776B8;
$padding: 20px;

$globalFont: 'Work Sans';
$titleFont: 'Megrim';

/* On déclare les styles globaux */
* {
  margin: 0;
}
html { /* 1 rem = 10px */
  font-size: 62.5%;
}

body {
  background-color: $backgroundColor;
  background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");
  font-family: $globalFont;
  font-size: 1.4rem;
}

h1 {
  /* structure */
  padding-top: 50px;

  /* presentation */
  font-family: $titleFont;
  font-size: 5rem;
  color: $pink;
  text-align: center;

  /* effet néon */
  text-shadow: 0 2px 10px $white;
}
a { /* Retrait du sous-lignage de tous les liens du site */
  text-decoration: none;
  color: $white;
}

li { /* Retrait de toutes les puces des listes à puce */
  list-style-type: none;
}
img { /* Propriétés pour rendre les images responsive */
  max-width: 100%;
  height: auto;
}

/* Hack pour éviter les problèmes liés au float/position */
.clear {
  clear: both;
}

.inline {
  margin: 0 0 0 40px;
}
/* Mise en forme des boutons des formulaires */
.button {
  /* structure */
  padding: 10px 15px;

  /* presentation */
  opacity: 0.8;
  border-radius: 5px;
  font-family: $titleFont;
  font-size: 1.6rem;
  color: $black;
  cursor: pointer;
}
/*
 * Bouton de validation d'un formulaire
*/
.submit {
  background-color: $blue;
  border: 1px solid $blue;
}
/*
 * Bouton pour annuler
 */
.cancel {
  margin-left: 15px;
  background-color: $pink;
  border: 1px solid $pink;
}
/***********************************************************/
/******************* Page d'accueil ********************/
/***********************************************************/
header {
  position: relative;

  img {
    /* Mise en forme de la bannière du header */
    width: 100%;
    height: 600px;
  }
  .octogone { /* Style de l'octogone qui entoure le logo */
    /* structure */
    position: absolute;
    left: 45%;
    bottom: -15%;
    z-index: 2;
  }
  #logo {
    /* Style du logo */
    /* structure */
    display: none;
    width: 85px;
    height: 85px;
    /* positionnement du logo à cheval sur la section 1 et le header */
    position: absolute;
    left: 45.7%;
    bottom: -5%;
    z-index: 2;
  }
  .nav {
    /* Mise en forme de la barre de navigation */
    /* flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* structure */
    width: 100%;
    padding: $padding - 10px;
    position: fixed;
    top: 0;
    z-index: 999;

    /* presentation */
    background-color: $primary;
    font-family: $titleFont;
    color: $pink;
  }
  .nav ul {
    /* Mise en forme des liens de la navigation */
    /* flexbox */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
  }
  .nav li {
    /* presentation */
    list-style-type: none;
    font-size: 2rem;
  }
  .nav a {
    /* presentation */
    color: $pink;
    text-transform: uppercase;
    transition: all 0.5s;

      &:hover {
        color: $white;
      }
  }

  .nav li + li:before {
    /* Ajout d'un séparateur entre les liens de la navigation */
    content: '|';
    margin: 0 20px;
    color: rgba(255, 255, 255, 0.6);
  }
  #pseudo {
    /* Mise en forme de l'encart destiné à afficher le pseudo du membre connecté */
    /* structure */
    margin-left: 15px;

    /* presentation */
    font-family: $titleFont;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: $white;
  }
}
/****************************** MAIN BODY *********************/
/*  SECTION UNE #dashboard */
#dashboard {
  /* structure */
  margin-top: -3px;
  /* on met la section en relative pour que la barre de recherche puisse être positionnée en absolute */
  position: relative;
  padding: $padding;

  /* presentation */
  background-color: $primary;
  background : {
    image: url('../img/computer.png');
    repeat: no-repeat;
    size: cover;
    position: center;
  }
  h2 {
    /* Mise en forme des h2 du tableau de bord */
    /* presentation */
    font-family: $titleFont;
    color: $pink;
    text-align: center;
  }
  .search-form {
    /* Mise en forme de la barre de recherche */
    /* structure */
    position: absolute;
    top: 40px;
    right: 30px;
  }
  .search-form input[type="text"] {
    /* structure */
    padding: 5px;
    width: 200px;

    /* presentation */
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(220, 40, 227, 0.5);
  }
  .search-btn {
    /* structure */
    padding: 5px;
    display: none;

    /* presentation */
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    color: $pink;
    cursor: pointer;
  }
  .paths {
    /* Mise en forme du SVG des "réseaux informatiques" */
    /* structure */
    position: absolute;
    top: 15px;
    left: -10px;
  }
  .dash-nav {
    /* Petit menu de navigation sur le tableau de bord pour naviguer sur les topics importants du forum */
    /* structure */
    margin: -10px auto 0;

    /* presentation */
    color: $white;
    font-family: $titleFont;
    text-align: center;
    font-size: 2rem;

    a {
      color: $white;
      text-transform: uppercase;
      transition: all 0.3s;

      &:hover {
        opacity: 0.5;
      }
    }
    a + a:before {
      /* Ajout d'un petit octogone rose pour séparer les liens */
      content: '⬡';
      margin: 0 20px;
      color: $pink;
    }
  }
}
.dash-grid {
  /* Agencement des tuiles du tableau de bord avec CSS Grid */
  /* Grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 40px;

  h2 {
    /* Mise en forme des titres des tuiles */
    /* structure */
    margin-bottom: 10px;
  }
  .grid-context,
  .grid-lastpost,
  .grid-weather,
  .grid-user,
  .grid-news {
    /* Mise en forme globale de toutes les tuiles */
    /* structure */
    padding: 15px;
    overflow: auto;

    /* presentation */
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    text-align: justify;
  }
  .grid-context {
    /*
     * Tuile du dashboard dédiée à l'affichage du synopsis
     */
    /* propriétés grid */
    grid-column: 2;
    grid-row: 1 / 3;
  }
  .grid-lastpost {
    /*
     * Tuile du dashboard dédiée à l'affichage des derniers posts
     */
    /* propriétés grid */
    grid-column: 1;
    grid-row: 1;

    ul {
      margin-left: -20px;
    }
  }
  .grid-weather {
    /*
     * Tuile du dashboard dédiée à l'affichage de la météo
     */
    /* propriétés grid */
    grid-column: 1;
    grid-row: 2;

    ul {
      display: flex;
      margin-left: -40px;
    }

    li {
      margin: 0 10px;
    }
  }
  .grid-user {
    /*
     * Tuile du dashboard dédiée à l'affichage du membre du mois
     */
    /* propriétés grid */
    grid-column: 3;
    grid-row: 1;

    img {
      /* Mise en forme de l'image du membre du mois */
      /* structure */
      width: 100px;
      height: 100px;

      /* presentation */
      border-radius: 5px;
    }
  }

  .grid-news {
    /*
     * Tuile du dashboard dédiée à l'affichage des nouveautés
     */
    /* propriétés grid */
    grid-column: 3;
    grid-row: 2;

    ul {
      margin-left: -20px;
    }
  }
}
/* SECTION DEUX #section-list */
#section-list {
  /* Pour gérer le h2 en absolute */
  position: relative;
  text-align: center;

  img:first-child {
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
  }

  h2 {
    /* structure */
    position: absolute;
    top: 25px;
    left: 45%;

    /* presentation */
    color: $white;
    font-family: $titleFont;
    font-size: 3.5rem;
    text-align: center;
  }
  table {
    /* Mise en forme globale des articles de la section */
    /* structure */
    display: inline-block;
    width: 40%;
    border-collapse: collapse;
    margin-bottom: 40px;
    margin-right: 10px;
    margin-left: 10px;

    /* presentation */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  table:nth-child(even) thead {
    /* Toutes les lignes tr des thead pairs */
    /* presentation */
    background-color: #A600B3;
    border: 1px solid #A600B3;
  }
  table:nth-child(odd) thead {
    /* Toutes les lignes tr des thead impairs */
    /* presentation */
    background-color: $blue;
    border: 1px solid $blue;
  }
  thead th {
    padding: $padding - 15px;
    /* presentation */
    text-align: right;
    font-size: 1.7rem;
  }
  thead a {
    color: $black;
  }

  tbody, tfoot {
    /* presentation */
    background-color: $primary;
    color: $white;
    text-align: justify;
  }
  td {
    padding: $padding - 5px;
  }
  tfoot > tr > td {
    width: 50%;
    text-align: center;
  }
  tfoot a {
    color: $white;
  }
}
/* SECTION DEUX #who-online */
#who-online {
  position: relative;

  /*presentation */
  background-color: $primary;

  img:first-child {
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
  }
  h2 {
    /* structure */
    position: absolute;
    top: 25px;
    left: 40%;

    /* presentation */
    color: $white;
    font-family: $titleFont;
    font-size: 3.5rem;
    text-align: center;
  }

  h3 {
    /* structure */
    margin-bottom: 10px;

    /* presentation */
    font-family: $titleFont;
    color: $white;
    font-size: 2.5rem;
    text-align: center;
  }
  ul {
    /* retrait de la marge naturelle de l'ul */
    margin-left: -20px;
  }
  /* Mise en forme du CSS Grid des statistiques */
  .dash-grid {
    margin-top: -20px;
    padding: 20px;

    img {
      width: 450px;
      height: 150px;
      border-radius: 8px;
    }
  }
  .user-online,
  .stats,
  .faction-one,
  .faction-two,
  .faction-three,
  .faction-four {
    /* presentation */
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    border: 1px solid $primary;
    text-align: justify;
  }

   .user-online {
     /*
      * Grille dédiée à l'affichage des membres en ligne
      */
     /* CSS Grid */
     grid-column: 1;
     grid-row: 1;
     padding: 15px;

     ul {
       /* Flexbox */
       /* On met en ligne les li */
       display: flex;
     }

     li + li:before {
       /* On met un séparateur entre les li */
       content: '⬡';
       color: $pink;
       margin: 0 10px;
     }
   }
    .stats {
      /*
       * Grille dédiée à l'affichage des stats globaux du site
       */
      grid-column: 1;
      grid-row: 2;
      padding: 15px;
    }
    .flip-card {
      /* Mise en place des éléments pour la flip card */
      position: relative;
      width: 100%;
      height: 100%;
      text-align: justify;
      border-radius: 8px;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    .faction-one:hover .flip-card,
    .faction-two:hover .flip-card,
    .faction-three:hover .flip-card,
    .faction-four:hover .flip-card {
      /* Rotation horizontale au passage de la souris */
      transform: rotateY(180deg);
    }
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }
   .flip-card-front {
     /* Style de la face avant */
     background-color: #bbb;
     color: $black;
     border-radius: 8px;
   }
    .flip-card-back {
      /* Style de la face arrière */
      /* structure */
      padding: 10px 0;

      /* presentation */
     background-color: $primary;
     color: $white;
     border-radius: 8px;
     transform: rotateY(180deg);
    }
     .faction-one {
       grid-column: 2;
       grid-row: 1;

       /* Mise en place de l'effet flip-card (w3schools) */
       width: 450px;
       height: 150px;
       perspective: 1000px;
     }
     .faction-two {
       grid-column: 2;
       grid-row: 2;

       /* Mise en place de l'effet flip-card (w3schools) */
       width: 450px;
       height: 150px;
       perspective: 1000px;
     }
     .faction-three {
       grid-column: 3;
       grid-row: 1;

       /* Mise en place de l'effet flip-card (w3schools) */
       width: 450px;
       height: 150px;
       perspective: 1000px;
     }
     .faction-four {
       grid-column: 3;
       grid-row: 2;

       /* Mise en place de l'effet flip-card (w3schools) */
       width: 450px;
       height: 150px;
       perspective: 1000px;
     }
}

/* Footer */
footer {
  /* structure */
  padding: $padding - 10px;

  /* presentation */
  text-align: center;
  color: $white;
}

/***********************************************************/
/************* Page de connexion/inscription ***************/
/***********************************************************/
#connection {
  /* structure */
  margin-top: 40px;
  padding: 40px 20px;

  /* presentation */
  background : {
    image: url('../img/bg.jpg');
    repeat: no-repeat;
    size: cover;
    position: center;
  }
  article {
    /* structure */
    position: relative;
    width: 80%;
    margin: 40px auto;

    /* presentation */
    background-color: rgba(45, 47, 98, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
  }
  h2 {
    font-family: $titleFont;
    color: $white;
    text-align: center;
    font-size: 3rem;
  }
  article ul:first-child {
    display: flex;
    justify-content: flex-end;
  }
  .fas {
    /* structure */
    margin: 10px 20px 0;

    /* presentation */
    color: $white;
    font-size: 3rem;
  }
  hr {
    /* structure */
    width: 90%;
    height: 1px;
    margin: 10px auto;

    /* presentation */
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .login-form {
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 40px;
    width: 40%;
    text-align: center;
  }
  .login-form ul {
    /* flexbox */
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .login-form li {
    margin: 5px 0;
    text-align: left;
  }
  label {
    /* structure */
    margin-left: 20px;

    /* presentation */
    color: $white;
    font-size: 1.8rem;
  }
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="email"] {
    /* structure */
    width: 100%;
    padding: 10px;

    /* presentation */
    background-color: rgba(255, 255, 255, 0.8);
    border: 0;
  }
  a:not(.cancel) {
    /* structure */
    position: absolute;
    right: 100px;
    top: 50%;

    /* presentation */
    font-family: $titleFont;
    font-size: 2.5rem;
  }
}

/***********************************************************/
/********** Page de la liste des membres publique **********/
/***********************************************************/

#list-users {
  /* Pour gérer le h2 en absolute */
  position: relative;
  text-align: center;
  margin-top: 40px;
  padding-bottom: $padding + 20px;

  /* presentation */
  background-color: $primary;

  img:first-child {
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
  }
  h2 {
    /* structure */
    position: absolute;
    top: 25px;
    left: 38%;

    /* presentation */
    color: $white;
    font-family: $titleFont;
    font-size: 3.5rem;
    text-align: center;
  }
  table {
    /* structure */
    width: 80%;
    margin: auto;

    /* presentation */
    background-color: $backgroundColor;
  }
  table, tr, td, th {
    /* structure */
    border-collapse: collapse;
    border: 1px solid $black;
    padding: $padding;
  }
  thead {
    background-color: darken($backgroundColor, 20%);
  }
  th {
    /* presentation */
    font-family: $titleFont;
    color: $white;
    font-size: 2rem;
  }
  tbody tr:nth-child(even) {
    /* changement de la couleur de fond des lignes paires */
    background-color: lighten($backgroundColor, 20%);
    transition: all 0.3s;

    &:hover {
      background-color: darken($backgroundColor, 20%);
    }
  }
  tbody tr:nth-child(odd) {
    transition: all 0.3s;

    &:hover {
      background-color: darken($backgroundColor, 20%);
    }
  }
  td {
    font-size: 1.8rem;
  }
  .fas, .far {
    font-size: 2rem;
    transition: all 0.3s;

    &:hover {
      color: $pink;
    }
  }
}

/***********************************************************/
/*********** Page de la gestion du profil membre ***********/
/***********************************************************/
#custom-profile {
  /* structure */
  margin-top: 40px;
  padding: 40px 20px;

  /* presentation */
  background : {
    image: url('../img/bg.jpg');
    repeat: no-repeat;
    size: cover;
    position: center;
  }
  .profile-container {
    /* structure */
    position: relative;
    width: 80%;
    margin: 40px auto;

    /* presentation */
    background-color: rgba(45, 47, 98, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
  }
  h2 {
    font-family: $titleFont;
    color: $white;
    text-align: center;
    font-size: 3rem;
  }
  article ul:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;

    li {
      font-size: 1.8rem;
      color: $white;
    }
    input[type="text"] {
      /* structure */
      padding: $padding - 10px;
      width: 500px;

      /* presentation */
      background-color: $white;
      border: none;
      border-radius: 5px;
    }
  }
  .fas {
    /* structure */
    margin: 10px 20px 0;

    /* presentation */
    color: $white;
    font-size: 3rem;
  }
  hr {
    /* structure */
    width: 90%;
    height: 1px;
    margin: 10px auto;

    /* presentation */
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .profile-grid {
    /* CSS GRID */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);

    /* structure */
    padding: $padding;

    label {
      text-align: center;
      color: $white;
      font-family: $titleFont;
      font-size: 1.8rem;
    }
  }
  h3 {
    /* structure */
    margin-top: -15px;

    /* presentation */
    text-align: right;
    color: $white;
    font-family: $titleFont;
    font-size: 2rem;
  }
  .grid-avatar,
  .grid-life,
  .grid-stats,
  .grid-file {
    /* presentation */
    background-color: $primary;
    border: 1px solid $white;
    border-radius: 8px;
  }
  .grid-avatar {
    /* Mise en forme de la vignette pour la personnalisation du perso */
    grid-column: 1;
    grid-row: 1/3;

    /* presentation */
    text-align: center;

    img {
      /* structure */
      width: 200px;
      height: 320px;
      margin: 10px 0;
    }

    h4 {
      color: $white;
      font-family: $titleFont;
      font-size: 1.8rem;
    }
    table {
      margin: 0 auto;
      color: $white;

      td {
        padding: 10px;
      }
      tr td:first-child {
        font-family: $titleFont;
        font-size: 1.8rem;
      }

      input[type="text"] {
        /* structure */
        padding: 5px;

        /* presentation */
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        border-radius: 5px;
      }
    }
  }
  .grid-life {
    /* Mise en forme de la vignette pour l'ajout d'éléments sur la vie du personnage */
    grid-column: 2/4;
    grid-row: 1;

    table {
      width: 90%;
      margin: 20px auto 0;

      /* presentation */
      color: $white;

      tr td:first-child {
        padding: 10px;
        text-align: center;
        font-size: 1.8rem;
        font-family: $titleFont;
      }
      .fa-venus {
        color: $pink;
      }
      .fa-mars {
        color: $blue;
      }
    }
    textarea {
      /* structure */
      width: 450px;
      padding: 10px;
      resize: vertical;

      /* presentation */
      border-radius: 5px;
      border: none;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
  .grid-stats {
    /* Mise en forme de la vignette d'affichage des stats du joueur */
    grid-column: 2/4;
    grid-row: 2;

    table {
      /* structure */
      width: 90%;
      margin: 30px auto 0;

      /* presentation */
      color: $white;

      tr td:first-child {
        font-family: $titleFont;
        font-size: 1.8rem;
      }
    }
  }
  .grid-file {
    /* Mise en forme de la vignette pour l'hébergement d'image de profil */
    /* structure */
    grid-column: 2/4;
    grid-row: 1;

    /* presentation */
    text-align: center;
    color: $white;

    form {
      margin-top: 30px;
    }
    table {
      margin: 0 auto;

      td {
        padding: 10px;
      }
    }
  }
  button {
    /* Bouton pour enregistrer les modifications */
    /* structure */
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;

    /* presentation */
    background-color: transparent;
    border: none;
    color: $white;
    font-size: 1.6rem;
    font-weight: 300;
    cursor: pointer;
  }
}
/***********************************************************/
/*********** Page de l'intérieur d'une section ***********/
/***********************************************************/
#topic-list {
  /* structure */
  width: 80%;
  margin: 0 auto;
  padding: $padding;

  /* presentation */
  background-color: $primary;
  color: $white;

  table {
    /* structure */
    width: 100%;
    margin: 0 auto;

    thead {
      /* presentation */
      font-family: $titleFont;
      font-size: 1.8rem;
      text-align: center;
    }

    tbody tr {
      border-bottom: 1px solid $white;
    }

    td, th {
      padding: $padding - 10px;
      text-align: center;
    }
  }
  table, td, tr, th {
    border-collapse: collapse;
  }

  .pagination {
    margin-top: 10px;
    text-align: center;
  }
}
/***********************************************************/
/*********** Page de l'intérieur d'un topic ***********/
/***********************************************************/
#messages-list {
  /* Affichage de la liste des messages (du + ancien au + récent) */
  /* structure */
  margin: 50px auto;
  width: 80%;

  /* presentation */
  color: $white;

  article {
    /* structure */
    margin-bottom: $padding;

    /* presentation */
    background-color: $primary;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  ul {
    /* flex */
    display: flex;
    justify-content: space-between;

    padding: $padding - 10px;
    background : {
      image: url('../img/frise.jpg');
      repeat: no-repeat;
      size: cover;
      position: bottom;
    }
  }
  .profile {
    /* structure */
    display: inline-block;
    width: 25%;
    text-align: center;

    img {
      width: 200px;
      height: 300px;
    }

    h3 {
      font-family: $titleFont;
      color: $white;
      font-size: 2rem;
    }
  }
  .content {
    /* structure */
    display: inline-block;
    width: 68%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: $padding;

    /* presentation */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    color: $black;
  }
  hr {
    color: $white;
    opacity: 0.5;
  }
  p {
    padding: $padding - 10px;
  }
}
#create-message {
  /* Formulaire de rédaction de réponse */
  /* structure */
  width: 77%;
  margin: 0 auto;
  padding: $padding;

  /* presentation */
  background-color: $primary;

  form {
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  label {
    /* structure */
    margin-bottom: 10px;

    /* presentation */
    color: $white;
    font-size: 3rem;
    font-family: $titleFont;
    text-transform: uppercase;
  }
  textarea {
    /* structure */
    padding: $padding;

    /* presentation */
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
  }
  .submit {
    /* structure */
    margin-top: 10px;
  }
}
/***********************************************************/
/*********** Page d'accueil du back office (admin) ***********/
/***********************************************************/
