@import "libs/responsive.scss";
@import "libs/mixins.scss";

$black: #2e2947;
$white: #f3ebdf;
$pink: #DC28E3;
$primary: #2D2F62;
$backgroundColor: #7776B8;
$padding: 20px;

$globalFont: 'Work Sans';
$titleFont: 'Megrim';

/* On déclare les styles globaux */
* {
  margin: 0;
}
html { /* 1 rem = 10px */
  font-size: 62.5%;
}

body {
  background-color: $backgroundColor;
  font-family: $globalFont;
  font-size: 1.4rem;
}

h1 {
  /* structure */
  padding-top: 50px;

  /* presentation */
  font-family: $titleFont;
  font-size: 5rem;
  color: $pink;
  text-align: center;

  /* effet néon */
  text-shadow: 0 2px 10px $white;
}
a { /* Retrait du sous-lignage de tous les liens du site */
  text-decoration: none;
}

li { /* Retrait de toutes les puces des listes à puce */
  list-style-type: none;
}
img { /* Propriétés pour rendre les images responsive */
  max-width: 100%;
  height: auto;
}

/* Hack pour éviter les problèmes liés au float/position */
.clear {
  clear: both;
}

/* Déclaration des styles pour la mise en forme du HEADER */
header {
  position: relative;
}
/* Mise en forme de la bannière du header */
header img {
  width: 100%;
  height: 600px;
}
/* Style du logo */
#logo {
  /* structure */
  width: 100px;
  height: 100px;
  /* positionnement du logo à cheval sur la section 1 et le header */
  position: absolute;
  left: 45%;
  bottom: -8%;
  z-index: 2;
}
/* Mise en forme de la barre de navigation */
.nav {
  /* structure */
  width: 100%;
  padding: $padding - 10px;
  position: fixed;
  top: 0;
  z-index: 999;

  /* presentation */
  background-color: $primary;
  font-family: $titleFont;
  color: $pink;
}

/* Mise en forme des liens de la navigation */
.nav ul {
  /* flexbox */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}
.nav li {
  /* presentation */
  list-style-type: none;
  font-size: 2rem;
}
.nav a {
  /* presentation */
  color: $pink;
}
/* Ajout d'un séparateur entre les liens de la navigation */
.nav li + li:before {
  content: '|';
  margin: 0 20px;
  color: rgba(255, 255, 255, 0.6);
}

/* Mise en forme de l'encart destiné à afficher le pseudo du membre connecté */
#pseudo {
  /* presentation */
  font-family: $titleFont;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

/****************************** MAIN BODY *********************/
/*  SECTION UNE #dashboard */
#dashboard {
  /* structure */
  margin-top: -3px;
  /* on met la section en relative pour que la barre de recherche puisse être positionnée en absolute */
  position: relative;
  padding: $padding;

  /* presentation */
  background-color: $primary;
  background : {
    image: url('../img/computer.png');
    repeat: no-repeat;
    size: cover;
    position: center;
  }
}
/* Mise en forme de la barre de recherche */
.search-form {
  /* structure */
  position: absolute;
  top: 10px;
  right: 20px;
}
.search-form input[type="text"] {
  /* structure */
  padding: 5px;
  width: 200px;

  /* presentation */
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(220, 40, 227, 0.5);
}
.search-btn {
  /* structure */
  padding: 5px;
  display: none;

  /* presentation */
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  color: $pink;
  cursor: pointer;
}
/* Petit menu de navigation sur le tableau de bord pour naviguer sur les topics importants du forum */
.dash-nav {
  /* structure */
  margin: -10px auto 0;

  /* presentation */
  color: $white;
  font-family: $titleFont;
  text-align: center;
  font-size: 2rem;

  a {
    color: $white;
  }
  /* Ajout d'un petit octogone rose pour séparer les liens */
  a + a:before {
    content: '⬡';
    margin: 0 20px;
    color: $pink;
  }
}
/* Agencement des tuiles du tableau de bord avec CSS Grid */
.dash-grid {
  /* Grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 40px;
}
/* Mise en forme des titres des tuiles */
h3 {
  /* structure */
}

/* Mise en forme globale de toutes les tuiles */
.grid-context,
.grid-lastpost,
.grid-weather,
.grid-user,
.grid-news {
  /* structure */
  padding: 15px;
  overflow: auto;

  /* presentation */
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  text-align: justify;
}

/* Disposition de chaque tuile en fonction de la grille parente */

/*
 * Tuile du dashboard dédiée à l'affichage du synopsis
 */
.grid-context {
  /* propriétés grid */
  grid-column: 2;
  grid-row: 1 / 3;
}

/*
 * Tuile du dashboard dédiée à l'affichage des derniers posts
 */
.grid-lastpost {
  /* propriétés grid */
  grid-column: 1;
  grid-row: 1;

  /* presentation */

}
.grid-lastpost ul {
  margin-left: -20px;
}

/*
 * Tuile du dashboard dédiée à l'affichage de la météo
 */
.grid-weather {
  /* propriétés grid */
  grid-column: 1;
  grid-row: 2;
}

/*
 * Tuile du dashboard dédiée à l'affichage du membre du mois
 */
.grid-user {
  /* propriétés grid */
  grid-column: 3;
  grid-row: 1;
}

/* Mise en forme de l'image du membre du mois */
.grid-user img {
  /* structure */
  width: 100px;
  height: 100px;

  /* presentation */
  border-radius: 100px;
}

/*
 * Tuile du dashboard dédiée à l'affichage des nouveautés
 */
.grid-news {
  /* propriétés grid */
  grid-column: 3;
  grid-row: 2;
}

/* Mise en forme des h2 du tableau de bord */
#dashboard h2 {
  /* presentation */
  font-family: $titleFont;
  color: $pink;
  text-align: center;
}

/* SECTION DEUX #section-list */
#section-list {
  /* Pour gérer le h2 en absolute */
  position: relative;
  text-align: center;
}
/* Mise en forme uniquement de l'image tout en haut de la section (fond h2) */
#section-list img:first-child {
  width: 100%;
  height: 100px;
  margin-bottom: 40px;
}
#section-list h2 {
  /* structure */
  position: absolute;
  top: 25px;
  left: 45%;

  /* presentation */
  color: $white;
  font-family: $titleFont;
  font-size: 3.5rem;
  text-align: center;
}
/* Mise en forme globale des articles de la section */
#section-list article {
  /* structure */
  display: inline-block;
  width: 40%;

  /* presentation */
}
/* Tous les h3 pairs */
#section-list h3:nth-child(even) {
  /* presentation */
  text-align: right;
  font-weight: 300;
}
/* Tous les h3 impairs */
#section-list h3:nth-child(odd) {
  /* presentation */
  text-align: right;
}

/* Footer */
footer {
  /* structure */
  padding: $padding - 10px;

  /* presentation */
  background-color: $primary;
  text-align: center;
  color: $white;
}
